h1{
    text-align: center;
}
#box{
    width:450px;
    margin-left:30%;
}
body{
    background-color:aquamarine;
}
#sub{
    margin-left:35%;
    display:none;
}
#top{
    display:inline;
}
#note{
    display: inline;
    font-size:larger;
}
#refresh{
    display: none;
}